@using Microsoft.AspNetCore.Components.Web;

<div>
    @if (_domException == DOMException.NotAllowedError)
    {
        @VideoForbidden
    }
    else if (_domException == DOMException.NotFoundError)
    {
        @NoVideoDevices
    }
    else if (_domException == null)
    {
        <video id="zxingVideo" width="@VideoWidth" height="@VideoHeigth" @attributes="AdditionalAttributes"></video>
        <input id="zxingInput" type="hidden" @onchange="OnCodeRead" />
    }
</div>
