@using Microsoft.AspNetCore.Components.Web;

<div>
    <video id="zxingVideo" width="@VideoWidth" height="@VideoHeigth" @attributes="AdditionalAttributes"></video>
    <input id="zxingInput" type="hidden" @onchange="OnCodeReaded" />
</div>
